.card-border {
  position: relative;
  border-radius: 10px;
  width: min-content;
  height: 26rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.btn_video_save {
  position: absolute;
  right: 4px;
  bottom: 4px;
}




