<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Chercher une nouvelle vidéo</h2>
    <form [formGroup]="videoForm" (ngSubmit)="onSearchVideo()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <button class="btn btn-success mt-4" type="submit">Chercher</button>
    </form>
  </div>
</div>


<div class="d-flex mt-4 flex-wrap justify-content-around px-4">
  <div *ngFor="let video of data.results">
    <div *ngIf="video.poster_path != undefined">
      <div class="col-sm-3 mb-4 card-border gx-2">
        <div>
          <div>
            <img  src="https://image.tmdb.org/t/p/w200/{{video.poster_path}}" alt="">
            <h6 class="overflow-hidden">{{video.title}}</h6>
            <a class="mt-2 btn btn-primary btn_video_save" (click)="getVideo(video)">Ajouter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


