<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="books">Livres</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="videos">Videos</a>
      </li>
    </ul>
    <ul class="navbar-nav mb-2 mb-lg-0 float-end">
      <li routerLinkActive="active" class="nav-item" *ngIf="isAuth">
        <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signin">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">RijamG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="videos">Videos</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="books">Livres</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li routerLinkActive="active" class="nav-item" *ngIf="isAuth">
          <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
          <a class="nav-link" routerLink="auth/signin">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
