<div class="row">
  <div class="col-xs-12">
    <h2>Mes livres</h2>
    <div>
      <button class="btn btn-outline-dark mb-4" (click)="choiceSortByAuthor()">Tri par auteur</button>
      <button class="btn btn-outline-dark mb-4 ms-2" (click)="choiceSortByTitle()">Tri par Titre</button>
        <div class="form-floating mb-3">
          <input class="form-control" name="queryString" type="text" id="queryString" #queryString>
          <label class="form-label" for="queryString">Rechercher dans le titre/Auteur</label>
        </div>
        <button type="button" class="btn btn-outline-dark mb-4" (click)="sendName(queryString.value)">Valider</button>
    </div>
    <div class="list-group">
      <button class="list-group-item list-group-item-action"
          *ngFor="let book of books | paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          }; let i = index"
          (click)="onViewBook(i)">
          <h3 class="list-group-item-heading">
          <img style="max-width:40px; max-height: 40px;" *ngIf="book.photo" [src]="book.photo">
          {{ book.title }}
          <!-- <button class="btn btn-default float-end" (click)="onDeleteBook(book)"> -->
            <svg (click)="onDeleteBook(book)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x float-end" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          <!-- </button> -->
        </h3>
        <p class="list-group-item-text">{{ book.author }}</p>
      </button>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <pagination-controls
        previousLabel="Préc"
        nextLabel="Suiv"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>

    <button class="btn btn-outline-dark" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div>
