.card-border {
  position: relative;
  border-radius: 10px;
  width: min-content;
  height: 24rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.hidden {
  display: none;
}


.showModal {
  padding: 1rem;
  border: 1px solid gray;
  position: absolute;
  top: 10px;
  left: 30px;
  right: -30px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 24rem;
  overflow-y: scroll;
}

.x-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}
