<div class="row">
  <div class="col-xs-12">
    <h2>Mes Vidéos</h2>
    <button class="btn btn-outline-dark mb-4" *ngIf="isAuth" (click)="onNewVideo()">Nouvelle Vidéo</button>
    <div class="form-floating mb-3">
      <input class="form-control" name="queryString" type="text" id="queryString" #queryString>
      <label class="form-label" for="queryString">Rechercher une vidéo</label>
    </div>
    <button type="button" class="btn btn-outline-dark mb-4" (click)="sendName(queryString.value)">Valider</button>
    <div class="d-flex mt-4 flex-wrap justify-content-between px-1">
      <div *ngFor="let video of videos | paginate : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      }; let i = index">
          <div class="col-sm-3 mb-4 card-border gx-2">
            <!-- <div on-mouseover='over(i)' on-mouseout='out( i)'> -->
              <img  src="{{video.photo}}" alt="">
              <h6>{{video.title}}</h6>
              <svg *ngIf="isAuth" (click)="onDeleteVideo(video)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x x-delete" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            <!-- </div> -->
            <div [ngClass]="'class'+i" class="hidden showModal">
              <p>Date de sortie: {{ video.date | date:'dd-MM-yy' }}</p>
              <p>{{ video.description }}</p>
            </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <pagination-controls
        previousLabel="Préc"
        nextLabel="Suiv"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
