/* You can add global styles to this file, and also import other style files */
body {
  background:#abbcd3;
  // background: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}

h2 {
  color: rgb(66, 68, 80);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


// background-color: #b3cdd1;
// background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
